/**
${head}
**/
package ${pkg}.service.flow;

import com.jade.hr.component.task.service.impl.TaskStopAbstractService;
import com.jade.platform.core.exception.ServiceException;

/**
 * 业务终止,不同意
 *
 */
public class ${bo}StopTaskServiceImpl extends TaskStopAbstractService {

	public void nextExecute() throws ServiceException {
		
	}
	

}