/**
${head}
**/
package ${pkg}.facade;

import java.util.List;
import ${Config.project.pkg}.bo.${bo};
import ${Config.project.pkg}.service.${bo}Service;
import com.jade.platform.tech.core.exception.ServiceException;
import com.jade.platform.tech.core.web.TableTagBean;

public class ${bo}Facade {

	public void create(${bo} ${boLF}) throws ServiceException {
		${bo}Service.create(${boLF});
	}

#if($ids.size() == 1)
	public ${bo} get(${ids.get(0).typeClass} ${boLF}Id) throws ServiceException {
#else
	public ${bo} get(${bo} ${boLF}Id) throws ServiceException {
#end
		return ${bo}Service.get(${boLF}Id);
	}
    
	public void update(${bo} ${boLF}) throws ServiceException {
		${bo}Service.update(${boLF});
	}
    
#if($ids.size() == 1)
	public void delete(${ids.get(0).typeClass} ${boLF}Id) throws ServiceException {
#else
	public void delete(${bo} ${boLF}Id) throws ServiceException {
#end
		${bo}Service.delete(${boLF}Id);
	}

#if($ids.size() == 1)
	public void deletes(List<${ids.get(0).typeClass}> ${boLF}Ids) throws ServiceException {
        for(${ids.get(0).typeClass} ${boLF}Id : ${boLF}Ids){
#else
	public void deletes(List<${bo}> ${boLF}Ids) throws ServiceException {
        for(${bo} ${boLF}Id : ${boLF}Ids){
#end
            ${bo}Service.delete(${boLF}Id);
        }
    }

	public List<${bo}> find(TableTagBean ttb) throws ServiceException {
		return ${bo}Service.find(ttb);
	}
}